In [1]:
#%%
import netCDF4
import numpy as np
import pandas as pd
from datetime import datetime,timedelta
import matplotlib.pyplot as plt

In [2]:
#%%
def next_time(startdate,days=0,hours=0,minutes=0,seconds=0):
    """
    Find next time for calculation
    """
    sdate = datetime.strptime(startdate, '%Y%m%d_%H')
    date  = sdate + timedelta(days=days, hours=hours)
    date  = datetime.strftime(date, "%Y%m%d_%H")
    return date

def duration(startdate,enddate):
    """
    Time duration in hours
    """
    sdate = datetime.strptime(startdate, "%Y%m%d_%H")
    edate = datetime.strptime(enddate,   "%Y%m%d_%H")
    delta = edate - sdate
    return delta.days, delta.seconds

In [8]:
#%%
cdir = "/Users/daohoa/Desktop/my-notebook/LAGRANGIAN/TSCOMBO2017/results"
# %%
sdate = "20170713_12"
edate = "20170715_18"

dur_day, dur_sec = duration(sdate,edate)
dur_hr = dur_sec // (60*60) + dur_day * 24
ndate = dur_hr // 6 # time interval

# %%
rv_date = sdate
level   = 500

In [12]:
#for icase in range(ndate-1):
    # open csv file
    
df = pd.read_csv(cdir + "/label_list2d_%s_%s.csv" %(rv_date,500),index_col=0)
df
    #rv_date = next_time(startdate = rv_date, hours = 6)
# %%

# %%

     hull_centx  hull_centy     hull_area     min_owlag  level  label  value
0    143.016667   12.370000  1.982228e+10 -1.784967e-06  500.0     12    0.0
1    143.270833   12.125000  4.753448e+09  0.000000e+00  500.0     13    0.1
2     96.696970   29.090909  4.875395e+09 -9.747059e-06  500.0     24    0.1
3    112.435897    7.948718  5.083192e+09  6.924716e-07  500.0     10    0.2
4    112.350000    7.950000  3.910138e+09  6.924716e-07  500.0     10    0.3
..          ...         ...           ...           ...    ...    ...    ...
325  143.007576   26.704545  4.768873e+09  2.299428e-04  500.0      3   13.1
326  143.007576   26.704545  4.768873e+09  2.299428e-04  500.0      2   13.2
327  143.007576   26.704545  4.768873e+09  2.299428e-04  500.0      2   13.3
328  143.007576   26.704545  4.768873e+09  2.299428e-04  500.0      1   13.4
329  143.007576   26.704545  4.768873e+09  2.299428e-04  500.0      1   13.5

[330 rows x 7 columns]

In [13]:
value = df["value"]
hull_area = df["hull_area"]
hull_centx = df["hull_centx"]
hull_centy = df["hull_centy"]
min_owlag  = df["min_owlag"]
label      = df["label"]

In [22]:
rval = df["value"].value_counts(sort=False).index

Float64Index([ 0.0,  0.5,  1.0,  1.5,  2.0,  2.5,  3.0,  3.5,  4.0,  4.5,
              ...
              10.8,  5.8, 11.4,  6.8,  3.1,  7.8,  2.2, 11.3, 11.9,  8.6],
             dtype='float64', length=136)